<div class="col-sm-8 blog-main">
  <% @blogs.each do |blog| %>
    <div class="blog-post">
      <h2 class="blog-post-title"><%= link_to blog.try(:title), blog_path(blog) %></h2>
      <p class="blog-post-meta"><%= blog.created_at.strftime('%Y-%m-%d %H:%M:%S') %></p>
      <!-- Go to www.addthis.com/dashboard to customize your tools -->
      <div class="addthis_native_toolbox"></div>
      <p><%= markdown(blog.body) %></p>
      <p>
        <% blog.tags.each do |tag| %>
          <%= link_to "/tag/#{tag.name}" do %>
            <span class="label label-<%= random_color %>"><%= tag.name %></span>
          <% end %>
        <% end %>
      </p>
    </div><!-- /.blog-post -->
  <% end %>
  <%= will_paginate @blogs, renderer: BootstrapPagination::Rails %>
</div><!-- /.blog-main -->
<%= render 'layouts/blog_sidebar' %>