<div class="row placeholders">
  <div class="col-xs-6 col-sm-3 placeholder">
    <a href="<%= admin_blogs_path %>">
      <img data-src="holder.js/200x200/auto/sky/text:<%= @blog_count %>" class="img-responsive" alt="Generic placeholder thumbnail">
    </a>
    <h4>Blog</h4>
    <span class="text-muted">Total count</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <a href="<%= admin_tags_path %>">
      <img data-src="holder.js/200x200/auto/vine/text:<%= @tag_count %>" class="img-responsive" alt="Generic placeholder thumbnail">
    </a>
    <h4>Tag</h4>
    <span class="text-muted">Total count</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <a href="<%= admin_clicks_path %>">
      <img data-src="holder.js/200x200/auto/sky/text:<%= @click_count %>" class="img-responsive" alt="Generic placeholder thumbnail">
    </a>
    <h4>Click</h4>
    <span class="text-muted">Total count</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <a href="<%= admin_logins_path %>">
      <img data-src="holder.js/200x200/auto/vine/text:<%= @login_count %>" class="img-responsive" alt="Generic placeholder thumbnail">
    </a>
    <h4>Login</h4>
    <span class="text-muted">Total count</span>
  </div>
</div>