<!DOCTYPE html>
<html>
  <head>
    <title><%= Settings.site_name %></title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="../css/signin.css" rel="stylesheet" />
    <script src="../js/pace.min.js"></script>
    <link href="../css/pace.css" rel="stylesheet" />
    <link rel="shortcut icon" href="favicon.ico">
  </head>
  <body>
    <div class="container">
      <%= render 'layouts/blog_header' %>
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div> <!-- /container -->
  </body>
</html>